<div class="myitem">
    <ul>
        <li><small class="istime">2020-5-7</small><a href="javascript:void(0)">兴趣支撑梦想，兴趣是支撑我自己前行的动力</a></li>
        <li><small class="istime">2020-5-7</small><a href="javascript:void(0)">兴趣支撑梦想，兴趣是支撑我自己前行的动力</a></li>
        <li><small class="istime">2020-5-7</small><a href="javascript:void(0)">兴趣支撑梦想，兴趣是支撑我自己前行的动力</a></li>
        <li><small class="istime">2020-5-7</small><a href="javascript:void(0)">兴趣支撑梦想，兴趣是支撑我自己前行的动力</a></li>
        <li><small class="istime">2020-5-7</small><a href="javascript:void(0)">兴趣支撑梦想，兴趣是支撑我自己前行的动力</a></li>
        <li><small class="istime">2020-5-7</small><a href="javascript:void(0)">兴趣支撑梦想，兴趣是支撑我自己前行的动力</a></li>
    </ul>
</div>