<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="_static_resource/css/common.css">
    <link rel="stylesheet" href="_static_resource/css/iconfont.css">
    <link rel="stylesheet" href="_static_resource/css/body.css">
    <title>Document</title>
</head>

<body>
    <!-- header -->
    {include file="pub/header" /}
    <!-- header -->
    <div class="clearboth"></div>
    <div class="container">
        <!-- bleft start -->
        <div class="bleft">
            <div class="sharebox sims">
                <div class="sharetitle simi">
                    <h3>我的日志<span class="loca">当前位置:首页>资源共享>创时代高科技前沿发展新方向</span></h3>
                    <div class="contentbox">
                        <h4>创时代高科技前沿发展新方向</h4>
                        <p class="isshortinfos"><small>发布时间: 2018-10-31 编辑：[ <a href="javascript:void(0)"
                                    style="color:#1d89e8;text-decoration:none">站长</a> ] 分类：[ <span
                                    style="color:#1d89e8">分享</span> ]</small></p>
                        <article>
                            <p>
                                邻有三不比

                                卡耐基说：“生活中的许多烦恼，都源于我们盲目和别人攀比，而忘了享受自己的生活。”

                                人比人，气死人。许多人活得不开心，并非自己过得不好，而是嫉妒身边的人比自己过得好。其实，人生失意无南北，宫殿有悲哭，茅屋有欢笑，你羡慕别人，别人也在羡慕你。

                                凡事不必攀比，把握好自己的幸福，才是人生中最重要的事。

                                一、不比家庭。

                                许多人抱怨自己家庭出身不好，羡慕别人家财万贯，羡慕别人的父亲是政府高官或者企业富豪，羡慕别人的母亲美丽优雅，羡慕别人的伴侣温柔体贴。

                                生命中出现的每一个人，都是前世修的缘，懂得珍惜、感恩，才会体味幸福和快乐。

                                家境虽然不富裕，然而家庭和睦才是最大的财富；父母虽然是普通人，不一定能把世上的一切给你，但一定竭尽全力把自己的一切都给你，他们深深地爱着你；伴侣或许不够完美，但一定给你坚实的臂膀让你依靠。

                                不必和别人攀比家庭，一家人都平平安安，和和睦睦，就是最大的幸福。</p>
                        </article>
                    </div>

                    <!-- 上一篇&&下一篇 -->
                    <div class="pre_and_next">
                        <p class="prea">上一篇:<a href="javascript:void(0)">不必和别人攀比家庭，一家人都平平安安，和和睦睦，就是最大的幸福</a></p>
                        <p class="nexta">下一篇:<a href="javascript:void(0)">不必和别人攀比家庭，一家人都平平安安，和和睦睦，就是最大的幸福</a></p>
                    </div>
                    <!-- 上一篇&&下一篇 -->
                </div>
            </div>
            <div class="clearboth"></div>
            <div class="sharebox sims">
                <div class="sharetitle simi">
                    <h3>相关内容</h3>
                    <div class="relacontentbox">
                        <p class="relalist"><a href="javascript:void(0)">不必和别人攀比家庭，一家人都平平安安，和和睦睦，就是最大的幸福</a></p>
                        <p class="relalist"><a href="javascript:void(0)">家境虽然不富裕，然而家庭和睦才是最大的财富</a></p>
                        <p class="relalist"><a href="javascript:void(0)">不比家庭。 许多人抱怨自己家庭出身不好，羡慕别人家财万贯</a></p>
                        <p class="relalist"><a href="javascript:void(0)">父母虽然是普通人，不一定能把世上的一切给你</a></p>
                        <p class="relalist"><a href="javascript:void(0)">伴侣或许不够完美，但一定给你坚实的臂膀让你依靠</a></p>
                        <p class="relalist"><a href="javascript:void(0)">并非自己过得不好，而是嫉妒身边的人比自己过得好</a></p>
                        <p class="relalist"><a href="javascript:void(0)">都源于我们盲目和别人攀比，而忘了享受自己的生活</a></p>
                    </div>
                </div>
            </div>

            <div class="clearboth"></div>
            <div class="sharebox sims">
                <div class="sharetitle simi">
                    <h3>主题评论</h3>
                    <div class="commentbox">
                        <div class="commentlist">
                            <div class="c_list">
                                <div class="c_lefthead">
                                    <figure><img src="_static_resource/img/testhead.jpg" alt="用户头像"></figure>
                                </div>
                                <div class="c_rightcontent">
                                    <div class="cuser">匿名读友 2020年03月05日 21:15</div>
                                    <div class="ccontent">不必和别人攀比家庭，一家人都平平安安，和和睦睦，就是最大的幸福</div>
                                </div>
                            </div>
                            <div class="c_list">
                                <div class="c_lefthead">
                                    <figure><img src="_static_resource/img/testhead.jpg" alt="用户头像"></figure>
                                </div>
                                <div class="c_rightcontent">
                                    <div class="cuser">匿名读友 2020年03月05日 21:15</div>
                                    <div class="ccontent">不必和别人攀比家庭，一家人都平平安安，和和睦睦，就是最大的幸福</div>
                                </div>
                            </div>
                            <div class="c_list">
                                <div class="c_lefthead">
                                    <figure><img src="_static_resource/img/testhead.jpg" alt="用户头像"></figure>
                                </div>
                                <div class="c_rightcontent">
                                    <div class="cuser">匿名读友 2020年03月05日 21:15</div>
                                    <div class="ccontent">不必和别人攀比家庭，一家人都平平安安，和和睦睦，就是最大的幸福</div>
                                </div>
                            </div>
                            <div class="c_list">
                                <div class="c_lefthead">
                                    <figure><img src="_static_resource/img/testhead.jpg" alt="用户头像"></figure>
                                </div>
                                <div class="c_rightcontent">
                                    <div class="cuser">匿名读友 2020年03月05日 21:15</div>
                                    <div class="ccontent">不必和别人攀比家庭，一家人都平平安安，和和睦睦，就是最大的幸福</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bright end -->
        <!-- right start -->
        <div class="bright">
            {include file="pub/bright_index" /}
        </div>

        <!-- right end -->
    </div>
    <!-- footer -->
    <div class="clearboth"></div>
    {include file="pub/footer" /}
    <!-- footer -->
</body>

</html>